@import "tailwindcss";

@font-face {
  font-family: 'Inter';
  src: url('/fonts/static/Inter_18pt-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #000000;
  }
}

body {
  background: #ffffff;
  color: #000000;
  font-family: 'Inter', sans-serif;
}
